@{
    Layout = "_Admin";
}
<div class="display-1">
    Bienvenido 
</div>
<!-- <div class="row">
    <div class="col-12">
        <div class="h2">
            Registros
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="card-title h3">
                        Docentes
                    </div>
                    <div>
                        <a href="/Admin/" target="_blank" class="btn btn-info">Por materia</a>
                        <a href="/Admin/" target="_blank" class="btn btn-warning">Por carrera</a>
                        <a href="/Admin/" target="_blank" class="btn btn-dark">Por orden alfabetico</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="card-title h3">
                        Estudiantes
                    </div>
                    <div>
                        <a href="/Admin/" target="_blank" class="btn btn-info">Por materia</a>
                        <a href="/Admin/" target="_blank" class="btn btn-warning">Por cedula</a>
                        <a href="/Admin/" target="_blank" class="btn btn-secondary">Por carrera</a>
                        <a href="/Admin/" target="_blank" class="btn btn-dark">Por orden alfabetico</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="card-title h3">
                        Carreras
                    </div>
                    <div>
                        <a href="/Admin/" target="_blank" class="btn btn-info">Lista</a>
                        <a href="/Admin/" target="_blank" class="btn btn-warning">Materias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->