<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title>">
                        Administrador
                    </div>
                    <hr>
                    <div class="row">
                        <form method="POST">
                            <div class="col">
                                <div class="form-group">
                                    <input name="user" class="form-control" type="text" placeholder="Ingrese su usuario">
                                </div>
                                <div class="form-group">
                                    <input name="password" class="form-control" type="text" placeholder="Ingrese su password">
                                </div>
                                <div class="form-group">
                                    <input class="form-control btn btn-success" asp-route="Ingresar" type="submit" value="Ingresar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>