@{
    ViewData["title"] = "Docente";
    Layout = "_Docente";
}
<div class="page-dashboard pt-3">
    <div class="row title-panel">
        <div class="col-12 text-right">
            Gestion escolar<strong> | </strong>
            Bienvenido @ViewBag.Nombre
        </div>
    </div>
    <div class="page-content pt-4">
        <!-- Seccion cursos -->
        <div class="d-flex flex-wrap justify-content-center">
            @for (int i = 0; i < 7; i++)
            {
                <div class="card mr-2 mt-2 box-shadow">
                    <div class="card-body">
                        <p class="card-text"> @ViewBag.Materia </p>
                        <button type="button" class="btn btn-outline-info form-control" data-toggle="modal" data-target="#exampleModal">
                            Revisar
                        </button>
                    </div>
                </div>
            }
        </div>
        <!-- Fin seccion cursos -->
        <!-- Inicio seccion mensaje -->
        <div class="row justify-content-center mt-2">
            <div class="col-8 cursor-pointer">
                <a class="text-decoration-none text-info" href="/Mensajes">
                    <div class="card d-flex flex-row justify-content-between align-items-center p-3">
                        <label class="cursor-pointer">Mensajes</label>
                        <span class="badge badge-info badge-pill">14</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Fin seccion mensajes -->
        <!-- Seccion Pendientes y publicaciones activas -->
        <div class="row justify-content-center mt-2">
            <div class="col-5">
                <div class="list-group box-shadow">
                    <a class="list-group-item list-group-item-action text-white bg-primary" style="cursor: auto;">
                        Pendientes
                    </a>
                    <a href="/Revision/Index" class="list-group-item list-group-item-action">Revisar tarea: Programacion Visual II</a>
                    <a href="/Revision/Index" class="list-group-item list-group-item-action">Revisar Foro: Ramsonware</a>
                    <a href="/Revision/Index" class="list-group-item list-group-item-action">Revisar tarea: Matematica financiera</a>
                </div>
            </div>
            <div class="col-5">
                <div class="list-group box-shadow">
                    <a class="list-group-item list-group-item-action text-white bg-info" style="cursor: auto;">
                        Publicaciones activas
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Tarea: Programacion Visual II</a>
                    <a href="#" class="list-group-item list-group-item-action">Foro: Ramsonware</a>
                    <a href="#" class="list-group-item list-group-item-action">Tarea: Matematica financiera</a>
                </div>
            </div>
        </div>
        <!-- Fin Seccion Pendientes y publicaciones activas -->
    </div>
     <!-- Modal info curso -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-title h2">A4-B3</div>
                <p class="card-text"> @ViewBag.Materia </p>
                <p class="card-text">Numero de estudiantes: @ViewBag.nr</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="/Cursos/Revision">Ver info</a>
            </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal info curso -->