@{
    ViewData["title"] = "Docente";
    ViewData["user"] = ViewBag.Nombre;
    Layout = "_Docente";
}
<div class="page-dashboard pt-3">
    <div class="row title-panel">
        <div class="col-12 text-right">
            Gestion escolar<strong> | </strong>
            Bienvenido @ViewBag.Nombre
        </div>
    </div>
    <div class="page-content pt-4">
        <!-- Seccion cursos -->
        <div class="d-flex flex-wrap justify-content-center">
            @{
                List<Materia> materias = ViewBag.listaMaterias;
            }
            @if(@materias.Any())
            {
                @foreach (var materia in ViewBag.listaMaterias as List<Materia>)
                {
                    <div class="card w-25 mr-2 mt-2 box-shadow">
                        <div class="card-body">
                            <p class="card-text"><strong>Nombre de la materia: </strong>  @materia.NombreMateria </p>
                            <p class="card-text"><strong>Nivel: </strong> @materia.IdNivelNavigation.Nivel1 </p>
                            <a class="btn btn-primary form-control" href="/Cursos/Revision?idMateria=@materia.IdMateria">Ir</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <div class="card alert alert-info">
                            AUN NO TIENES MATERIAS ASIGNADAS
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- Fin seccion cursos -->
        <!-- Seccion Pendientes y publicaciones activas -->
        <!-- <div class="row justify-content-center mt-2">
            <div class="col-5">
                <div class="list-group box-shadow">
                    <a class="list-group-item list-group-item-action text-white bg-primary" style="cursor: auto;">
                        Pendientes
                    </a>
                    <a href="/Revision/Index" class="list-group-item list-group-item-action">Revisar tarea: Programacion Visual II</a>
                    <a href="/Revision/Index" class="list-group-item list-group-item-action">Revisar Foro: Ramsonware</a>
                    <a href="/Revision/Index" class="list-group-item list-group-item-action">Revisar tarea: Matematica financiera</a>
                </div>
            </div>
            <div class="col-5">
                <div class="list-group box-shadow">
                    <a class="list-group-item list-group-item-action text-white bg-info" style="cursor: auto;">
                        Publicaciones activas
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Tarea: Programacion Visual II</a>
                    <a href="#" class="list-group-item list-group-item-action">Foro: Ramsonware</a>
                    <a href="#" class="list-group-item list-group-item-action">Tarea: Matematica financiera</a>
                </div>
            </div>
        </div> -->
        <!-- Fin Seccion Pendientes y publicaciones activas -->
    </div>
     