@{
    ViewData["title"] = "Docente";
    Layout = "_Docente";
}
<div class="page-dashboard pt-3">
    <div class="alert alert-success" role="alert">
    <a href="/Docente/Index" class="alert-link">Docente</a><strong class="pr-1 pl-2">></strong>
    <a  class="alert-link">Notas</a><strong class="pr-1 pl-2">></strong>
    </div>
    <div class="page-content pt-4">
        <div class="row justify-content-start mt-3">
            <div class="col">
                <p><strong class="text-uppercase text-black-50">Listado de materias</strong></p>
                <small class="text-warning">*Aqui podras ingresar las calificaciones de los estudiantes por materia</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="h2">Niveles</div>
                <div class="card cursor-pointer">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="card-text">
                                <small>Carrera</small><br>
                                <small>Nivel</small><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                @for (int i = 0; i < 6; i++)
                {
                    <div class="card mt-3 box-shadow">
                        <div class="card-body">
                            <div class="card-title h2">
                                Matematica financiera
                            </div>
                            <hr>
                            <div class="card-btn">
                                <p class="card-text">
                                    Numero de estudiantes: 24
                                </p>
                                <a class="btn btn-outline-warning" href="/Notas/Index">Ingresar notas</a>
                                <input class="btn btn-outline-success" type="button" value="Publicar notas">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>