@{
    ViewData["title"] = "Docente";
    Layout = "_Docente";
}
<div class="page-dashboard pt-3">
    <div class="alert alert-success" role="alert">
    <a href="/Docente/Index" class="alert-link">Docente</a><strong class="pr-1 pl-2">></strong>
    <a  class="alert-link">Notas</a><strong class="pr-1 pl-2">></strong>
    </div>
    <div class="page-content pt-4">
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title h2">
                    Matematica financiera
                </div>
                <hr>
                <div class="card-btn">
                    <p class="card-text">
                        Numero de estudiantes: 24
                    </p>
                    <a class="btn btn-warning" href="/Notas/Index">Ingresar notas</a>
                    <input class="btn btn-success" type="button" value="Publicar notas">
                </div>
            </div>
        </div>
    </div>
</div>