@{
    Layout = "_Estudiante";
}
<div class="page-dashboard pt-3">
    <div class="page-content pt-4">
        <div class="row mt-3 mb-3">
            <div class="col-4">
                <div class="h2">Tareas pendientes</div>
            </div>
        </div>
        <div class="d-flex flex-wrap">
                @for (int i = 0; i < 5; i++)
                {
                    <div class="card box-shadow-dark mb-3 mr-3">
                        <div class="card-body">
                            <div class="card-title text-uppercase">Seguridad informatica</div>
                            <hr>
                            <div class="card-text text-left mb-5">
                                <span class="badge badge-info">Nombre del docente </span>
                                <span class="badge badge-secondary">Descripcion de la tarea </span>
                                <span class="badge badge-warning">Maxima hora de entrega </span>
                            </div>
                            <div class="card-text">
                                <input type="file"/>
                            </div>
                            <div class="card-text mt-2">
                                <input class="form-control btn btn-outline-success" type="submit" value="Enviar tarea"/>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>