@{
    Layout = "_Docente";
}
<div class="page-dashboard pt-3">
    <div class="alert alert-success" role="alert">
        <a class="alert-link">Docente</a><strong class="pr-1 pl-2">></strong>
        <a href="/Docente/Index" class="alert-link">Cursos</a><strong class="pr-1 pl-2">></strong>
        <a class="alert-link">Revision</a><strong class="pr-1 pl-2">></strong>
    </div>
    
    <div class="page-content pt-4">
        
    </div>
</div>